/* body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}
.main {

    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    position: relative;
    overflow: hidden;

}

header {
    margin: 1.875rem;
    display: flex;
    gap: 20px;
    margin: 12px;
    column-gap: 70vmax;
    justify-content: space-evenly;
    align-content:space-evenly ;

}
.skill {
    margin: 0;
    width: 117.17px;
    height: 27.68px;
    flex-wrap: wrap;

}

nav {
    align-self:center;
    width: 167px;
    height: 16px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
nav > button{
    width: 167px;
    height: 16px;
}
section {
    display: flex;
    flex-flow: column;
    margin: 0;
    width: 457px;
    height: 359px;
}
 aside {
    position: absolute;
    overflow: hidden;
    right: -17%;
    top: -13%;
    width:975px;
    height: 912px;
}


#img-aside {
    width: 800px;
    height: 700px;
}
 */

 body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to top, #d9daf5 0% ,#ffffff 50%, #ffffff 100%);
    padding: 0;
    margin: 0;

 }
.main {
    
    /* width:2300px; */
    padding: 0 8%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    /* width:max-content; */
    margin: 0;
    gap: 50px;
    z-index: -2;
}

header {
    /* padding-right: 4%; */
    /* padding-left: 2%; */
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    /* gap: 80%; */
    justify-content: space-between;
    
}



nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#img-logo-light {
    align-self:center;
    /* width: 100px; */
    max-width: 100%;
    height: 40px;
}
#started-nav {
    align-self:center;
    font-size: x-large;
    width: 250px;
    height: 80px;
    color: #ffffff;
    background-color: #13183F;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.main-article {
    height: 1000px;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-around; */
    /* overflow: hidden; */
    /* position: relative; */
    /* top: -10%; */
}
#phone-img{
    visibility: hidden;
}
#tablet-img {
    visibility: hidden;
}
section {
    margin: 2%;
    /* margin-bottom: 10%; */
    width: 60%;
    display: flex;
    height: 700px;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: center;
    

}
#sec-article {
    color: #13183F;
    margin: 0;
    width:650px;
    height: 200px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 70px;
    font-weight:700 ;
    line-height: 90px;
}

#sec-article2 {
    color: #83869A;
    margin: 0;
    width:700px;
    height: 120px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 30px;
    font-weight:400 ;
    line-height: 40px;
}

#desktop-img {
    position: relative;
    right: -10%;
    top: -75%;
    width:140%;
    height: 130%;
    z-index: -1;
    /* width: 1400px; */
    /* height: 1200px; */
}

#section-button {
    cursor: pointer;
    border: unset;
    align-self:center;
    font-size: x-large;
    width: 200px;
    height: 60px;
    color: #ffffff;
    border-radius: 60px;
    background: linear-gradient(to top, #F02AA6 0%,#FF6F48 94%, #FF6F48 100%);

}
article {
    margin:  2%;
    display: flex;
    height: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;

    
}
article  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    width: calc(80%/3);
    height: calc(75%/2);
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
}

#article-img {
    position:relative;
    top: -15%;
    left: 10%;
    width: 25%;
    height: 25%;
}

.courses-check {
    justify-content:center;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to top,#F02AA6 0%, #FF6F48 80%,  #FF6F48 100%);
    color: #ffffff ;
}

.courses-check > p{
    margin: 0;
    position: relative;
    width: 300px;
    text-align: start;
    top: -10%;
    left: 30px;
}

#main-name {
    position: relative;
    left: 20px;
    top: -10%;
    margin: 0;
    font-size: xx-large;
    font-weight: 600;
    text-align: start;
    height: 100px;
}

#description {
    position: relative;
    left: 20px;
    top: -10%;
    margin: 0;
    width: 240px;
    line-height: 25px;
    color: #83869A;
    font-size: small;
    font-weight: 200;
    text-align: start;
    height: 100px;
}
.article-link {
    text-decoration: unset;
    height: 50px;
    width: 120px;
    color: #F02AA6;
    font-size: larger;
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
}

footer {
    padding: 4% 9%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    background-color: #13183F;
    /* gap: 900px; */
    justify-content: space-between;
    /* height: 50px;     */
    position: sticky;

}


#footer-button {
    cursor: pointer;
    background: linear-gradient(to top, #F02AA6 0%,#4851FF 95%, #4851FF 100%);
    align-self:center;
    font-size: x-large;
    width: 200px;
    height: 60px;
    color: #ffffff;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}


button:hover {
     
        background: linear-gradient(transparent, rgb(255, 255, 255));

        /* background-image: linear-gradient(); */
    
}

@media (min-width: 768px) and (max-width: 1200px) {
    .main{
    gap:10px ;
    }
    header {
    padding: 0 0%;
    }
    #img-logo-light {
    align-self:center;
    /* width: 100px; */
    max-width: 100%;
    height: 20px;
}
#started-nav {
    font-size: medium;
    width: 150px;
    height: 50px;
    color: #ffffff;
    background-color: #13183F;
    border-radius: 50px;

}
    .main-article {
        height:400px;
        display: flex;
        flex-wrap: nowrap;

    }
    
    section {
        width: 60%;
        height: 250px;
    }
    #sec-article {
        width:300px;
        height: 80px;
        font-size: xx-large;
        font-weight:700 ;
        line-height: 40px;
    }
    
    #sec-article2 {
        width:370px;
        height: 100px;
        font-size: small;
        font-weight:200 ;
        line-height: 25px;
    }
    #desktop-img{
        visibility: hidden;
    }
    
    #tablet-img {
        visibility: visible;
        position: relative;
        right: 10%;
        top: -275%;
        width: 130%;
        height: 140%;
        z-index: -1;
    }
    
    .section-button {
        width: 200px;
        height: 60px;
        border-radius: 50px;
        line-height: 58px;
        font-size: medium;

}
    article {

        height: 800px;

        
    }
    article  div {
        width: calc(80%/2);
        height: calc(50%/2);
    }
    
    .courses-check > p{
        margin: 0;
        position: relative;
        width: 200px;
        text-align: start;
        top: -15%;
        left: 20px;
        font-size: large;
    }
    
    #main-name {
        height: 30px;
        font-size: larger;
        
    }
    
    #description {
        line-height: 20px;
        height: 70px;
        font-size: smaller;
    }

}

@media (max-width: 768px) {
    .main {
        gap: 10px;
        overflow: hidden;

    }
    
    header {
        margin: 3% 0;
    }
    
    #img-logo-light {
        width: 80px;
        height: 25px;
    }
    #started-nav {
        font-size: medium;
        width: 150px;
        height: 50px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
    
    .main-article {
        height: 650px;
        flex-flow: column;
    }
    
    section {
        margin: 0;
        width:100%;
        height: 300px;
    
    }
    aside {
        height: 350px;
    }
    #sec-article {
        width:400px;
        height: 100px;
        font-size: 40px;
        font-weight:600 ;
        line-height: 50px;
    }
    
    #sec-article2 {
        margin: 0;
        width:100%;
        height: 100px;
        font-size: 18px;
        font-weight:100 ;
        line-height: 25px;
    }
    
    #phone-img {
        visibility: visible;
        position:relative;
        top: -2%;
        right: 15%;
        width: 130%;

    
    }
    #desktop-img{
        visibility: hidden;
    }
    #tablet-img {
        visibility: hidden;
    }
    
    #section-button {
        width: 200px;
        height: 70px;
        text-align: center;
        display: inline-block;
        line-height: 70px;
        color:#ffffff ;
        font-size: larger;
        font-weight:400 ;
}

    article {
        height: 1500px;       
 
    }
    article  div {
        flex-flow: column;
        width: 100%;
        height: 14%;
    }
    
    .courses-check {
        justify-content:center;
        font-size: x-large;
        font-weight: 700;
}
    
    .courses-check > p{
        top: -5%;
    }

    
    #main-name {
        width: 100%;
        padding: 5% 0;
        font-size: 20px;
        font-weight: bold;
        height: 40px;       
    }
    
    #description {
        width: 80%;
        line-height: 20px;
        font-size: 15px;
        font-weight: 200;
        height: 90px;
    }
    #article-img {
        position:relative;
        top: -10%;
        left: 10%;
        width: 20%;
        height: 20%;
    }
    
    .article-link {
        text-decoration: unset;
        height: 50px;
        width: 120px;
        padding-bottom: 10%;

    }
    
    footer {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        z-index: -2;
        position: sticky;
    }

    #img-logo-dark {
        height: 35px;
        width: 100px;
    }

    #footer-button {
        background: linear-gradient(to top, #F02AA6 0%,#4851FF 95%, #4851FF 100%);
        align-self:center;
        font-size: medium;
        cursor: pointer;
        width: 120px;
        height: 50px;
        color: #ffffff;
        border-radius: 50px;

}
    
}

