@import url("https://fonts.google.com/specimen/Red+Hat+Display");

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    box-sizing: border-box;
    border-radius: 15px;

    margin: 0;
    border: 0;
    padding: 0;
}

    body {
        /* width: 1440px; */
        height: 100vh;
        display: flex;
        background-image: url(./assets/images/pattern-background-desktop.svg);
        background-color: var(--Pale-blue);
        background-position: 50% 0%;
        background-repeat: no-repeat;
        justify-content: center;
        align-content: center;
    }
    .main {
        /* border-radius: 3%; */
        background-color: var(--Very-pale-blue);
        margin: 10% 0;
        width:400px;
        height: 620px;  
        display: flex;
        flex-flow: column wrap;      
        flex-wrap: nowrap;
        gap: 40px;
        overflow: hidden;
        text-align: center;
        color: var(--Dark-blue);
    
    
        /* justify-content: space-around; */
        /* align-content: space-around; */
    }
    img {
        border-radius: 0;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        /* flex-flow: column wrap;       */
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .p-content {
        font-weight: 500 ;
        padding: 0 10px;
        width: 320px;
        color: var(--Desaturated-blue);
    }
    .main-song {
        width: 85%;
        padding: 3% 0%;
        margin: 0 7%;
        background-color:hsl(224, 100%, 97%);
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-content: center;
    
        gap: 40px;
        /* width: 80%; */
    }
    a {
        padding: 3% 0;
        color: var(--Bright-blue);
    }
    .song {
        
        display: flex;
        gap: 20px;
    }
    p {
        font-weight: 500;
        padding:10px 0;
        color: var(--Desaturated-blue);
    }
    
    .payment  a{
        margin: 0 2%;
        padding: 4% 23% ;
        color: var(--Very-pale-blue);
        background-color: var(--Bright-blue);
        text-decoration: none;
        box-shadow: 0px 8px 50px 10px rgba(129, 128, 212, 0.5)
    }
    
    footer a{
        text-decoration: none;
        color: var(--Desaturated-blue);
    }
    
    .main-song >a:hover {
        color: rgb(104, 81, 206);
        text-decoration: none;
    }
    .payment>a:hover {
        background-color: rgb(104, 81, 206); ;
    }
    
    h4 > a:hover {
        color: var(--Dark-blue);
    }

@media (min-width:375px) and (max-device-width: 640px) {
    body {
        background-image: url(./assets/images/pattern-background-mobile.svg);
    }
    .main {
        margin: 15% 0;
        width: 365px;
    }
}
