@import url("https://fonts.google.com/specimen/Red+Hat+Display");
:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
    border-radius: 15px;


    margin: 0;
    border: 0;
    padding: 0;
}

    body {
        height: 100vh;
        /* background-position-y:-90px ; */
        background-image: url(./assets/images/pattern-background-desktop.svg);
        background-color: var(--Pale-blue);
        background-repeat: no-repeat;
        background-size:contain;
        background-attachment:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main {
        background-color: var(--Very-pale-blue);
        margin: 10% 0;
        width:500px;
        height: 750px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column wrap;      
        flex-wrap: nowrap;
        overflow: hidden;
        text-align: center;
        color: var(--Dark-blue);
        box-shadow: 0px 5px 20px .5px var(--Desaturated-blue)

    
    }

    img {
        width: 100%;
        height: 40%;
        border-radius: 0;
    }
    .content {
        display: flex;
        flex-flow: column wrap;      
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .p-content {
        font-weight: 500 ;
        font-size: larger;
        padding: 0 20px;
        width: 65%;
        color: var(--Desaturated-blue);
    }
    .main-song {
        width: 90%;
        height: 10%;
        padding: 0 5% ;
        background-color:hsl(225, 32%, 85%);
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-content: center;
        align-items: center;
        font-weight: 900 ;
    }
    a {
        color: var(--Bright-blue);
    }
    .song {
        display: flex;
    }
    .price > h3 {
        margin: 0 0 4% 9%;
        width: 120px;
    }
    p {
        font-weight: 500;
        color: var(--Desaturated-blue);
    }
    .main-song > a {
        font-weight: 500;
        font-size: 130%;

    }
    .payment > a{
    
        margin: 0 ;
        font-weight: 900;
        display: inline-flex;
        justify-content: center;
        max-width: 800%;
        line-height: 1.2;
        padding: 1.1em 6.5em;
        color: var(--Very-pale-blue);
        background-color: var(--Bright-blue);
        text-decoration: none;
        box-shadow: 0px 8px 50px 10px rgba(129, 128, 212, 0.5)
    }
    footer{
        margin-bottom: 5%;
    }
    footer a{
        text-decoration: none;
        color: var(--Desaturated-blue);
    }
    
    .main-song >a:hover {
        color: rgb(104, 81, 206);
        text-decoration: none;
    }
    .payment>a:hover {
        color: aliceblue;
        background-color: rgb(104, 81, 206); ;
    }
    
    h3 > a:hover {
        color: var(--Dark-blue);
    }

@media (min-width:350px) and (max-device-width: 700px) {
    body {     
        background-image: url(./assets/images/pattern-background-mobile.svg);
        background-position-y:0;

    }

    
    .main {
        font-weight: 500;
        font-size:small ;
        width: 350px;
        height: 650px;
    }
    .p-content {

        width:92%;
    }
    .payment > a{
        padding: 1.1em 3.9em;
    }

}

@media (min-width:800px) and (max-device-width: 1200px) {
    body {
        background-image: url(./assets/images/pattern-background-mobile.svg);
        background-position-y:0% ;
    }
    .main {
        font-weight: bolder;
        width:800px;
        height: 1000px;  
    }
    .payment > a{
        padding: 1.1em 13em;
    }
}
