:root {
    --Biscay:rgba(30,44,105,255);
    --Haiti:rgb(17, 25, 66);
    --progColor: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --circle:radial-gradient(8px at 98%,white,white 5px,transparent);
    --value:calc(1000px - 800px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

body ,.main ,.icon-section , .progress-section{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
body {
    height: 100vh;
    background-color: var(--Haiti);
    background-image: url('./assets/images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    width: 95%;
    gap: 30px;
    color: aliceblue;
}

.icon-section , .progress-section {
    width: 90%;
    padding: 7%;
    background-color: var(--Biscay);
    gap:30px;
}
.icon-section {
    border-top-right-radius: 40%;
    align-items: start;

}
.icon-section > img {
    width: 60%;
}

.icon {
    width: 70%;
    display: flex;
    align-items: center;    
    gap:20px;
}

.icon > * {
    height: 60px;
    border-radius: 15%;
    padding: 7%;
    width: 60px;
    background-color: var(--Haiti);
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.progress-section {
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}
.progress-section > .range {
    display: flex;
    justify-content: space-between;
}
.progress-section> * {
    width: 100%;
}
span {
    font-family: "Source Sans Pro";
    font-variant-numeric: oldstyle-nums;
    font-size: 20px;
    font-weight: 900;
}
progress {
    padding: 5px;
    padding-bottom: 23px;
    background: var(--Haiti) ;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

progress::-webkit-progress-bar {
    background: transparent;

}

progress::-webkit-progress-value {
    padding: 10px;
    border-radius: 40px;
    background: var(--circle),var(--progColor);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.remain {
    display: flex;
    font-size: 15px;
    width: 50%;
    align-items: center;
    position: absolute;
    padding: 2% 0%;
    background-color: rgb(255, 255, 255);
    color: var(--Haiti);
    top: 73vh;
    justify-content: center;
    gap: 10px;

}

.remain >span {
    font-size: 50px;
    
}

@media (min-width:700px) {

    .main{
        width: 80%;
        flex-flow: row;
        text-align: left;
        align-items:end;

    }
    .icon-section{
        width: 40%;
        padding:5% ;
    }
    .progress-section {
        text-align: left;
        gap: 20px;
        padding: 3%;
    }

    .remain {
        width: 20%;
        padding: 1% ;
        border-radius: 10px;
        top: 38%;
        right: 13%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .remain::before {
        content: '';
        position: absolute;
        display: block;
        bottom: -25%;
        right: 0%;
        border-style: solid;
        border-width: 0 30px 30px 30px;
        border-color: transparent  rgb(255, 255, 255) transparent transparent;

}

    
}

@media (min-width:1000px) {
    body{
        background-image: url('./assets/images/bg-desktop.png');
        background-size:contain;
        background-position-y: 130%;
        background-color: var(--Haiti);

    }
    .remain {
        width: 12%;
}
}