* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(5, 5, 113);
}
.center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
body{
    background-image:linear-gradient(to bottom,rgb(5, 5, 113) 40%,white 40%,white 100%)  ;
    height: 100vh;

}
.container {
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: 1px 1px 20px black;    
    flex-direction: row;
    justify-content: space-evenly;
}
h1 {
    color: white;
}
.main > span {
    cursor: pointer;
}
.btn {
    width: 150%;
    height: 30px;
    background-color: rgb(5, 5, 113);
    color: white;
    cursor: pointer;
    text-decoration: none;
    /* padding: 15px; */
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media (max-width:1200px) {
    *{
        font-size:30px;
    }
    .container{
        padding: 30px;
        width: 80%;  
    }
    h1 {
        font-size:45px;

}
    .btn {
        width: 150px;
        height: 60px;
    }


}
@media (max-width:768px) {
    .container{
        /* padding: 30px; */
        width: 80%;
    }



    

}