/* font Style */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* color */
:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --active-input-border :Linear gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-errors:  hsl(0, 100%, 66%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Space Grotesk", sans-serif;
    font-weight: 500;
    color: var(--Very-dark-violet);
    font-size: 18px;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    gap: 10%;    
}

.img {
    width: 100%;
    height: 35%;
    background:url("./images/bg-main-mobile.png") no-repeat center center/cover;
}

.container {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 25px;
}

.container div {
    width: 100%;
}
#card-num ,#card-name {
    width: 100%;
    height: 50px;
}
 input {
    outline: none;
    height: 50px;
    border-radius: 10px;
    padding: 20px;
    border:solid  2px var(--Light-grayish-violet);
    
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
} 
.date-cvc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date  input {
    width: 45%;
}
.cvc , .date{
    width: 100%;
}

.cvc input {
    width: 100%;
}
label{
    display: block;
    margin-bottom: 10px;
}
#sub-btn {
    background-color: var(--Very-dark-violet);
    color: #ffff;
    border: none;
    height: 60px;
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
h1 {
    font-size:35px;
}
p {
    color: var(--Dark-grayish-violet);
}

input::placeholder {
    color: var(--Light-grayish-violet);
}

#sub-btn:hover {
    box-shadow: 0 0 5px hsl(278, 68%, 11%);
    background-color: hsl(278, 59%, 25%);
}
.img-cvc {
    z-index: 2;
    background: url('./images/bg-card-front.png') no-repeat center center/cover;
    border-radius: 8px;
    padding: 25px;
    position: absolute;
    top: 157px;
    left: 15px;
    height: 160px;
    width: 250px;
    color: #ffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card-num-img{
    position: absolute;
    background: url('./images/bg-card-back.png') no-repeat center center/cover;
    top: 50px;
    right: 25px;
    height: 160px;
    width: 250px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

.img-cvc  img{
    width: 25%;
}

.img-cvc .num-value{
    color: #ffffffbb;
    margin: 40px 0 15px 0;
    text-align: center;
    font-size: 18px;
}
.card-name-date {
    display: flex;
    justify-content: space-between;
}
.card-name-date > *{
    color: #ffffffbb;
    font-size: 15px;
}

.card-num-img >* {
    color: #ffffffbb;

    position: relative;
    left: 80%;
    top: 43%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

small {
    padding: 5px;
    font-size: 10px;
    color: var(--input-errors);
}


@media (min-width:700px) {
    body{
        flex-flow: row;
        gap: 200px;
    }
    .img{
        background:url("./images/bg-main-desktop.png") no-repeat center center/cover;
        width: 30%;
        height: 100%;
    }
    .container {
        width: 540px;
        gap: 30px;


    }

    .img-cvc {
        width: 350px;
        height: 220px;
        top: 8%;
        left: 5%;
    }
    .card-num-img{
        width: 350px;
        height: 220px;
        top: 35%;
        left: 1%;

    }
    .img-cvc .num-value{
        margin: 18% 0 5% 0;
        font-size:27px;
    }
}

@media (min-width:1200px) {

    body {
        gap: 400px;

    }
    .img-cvc {
        width: 450px;
        height: 250px;
        top: 26%;
        left: 14%;
    }
    .card-num-img{
        width: 450px;
        height: 250px;
        top: 57%;
        left: 20%;

    }
    .img-cvc .num-value{
        margin: 55px 0 5% 0;
        font-size: 36px;
    }

}


