@font-face {
    font-family: Fraunces;
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}
@font-face {
    font-family: manrope;
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}
:root{
    --Roast: #24053E;
    --sea-gren: #44FBA3;
    --ghost-white: #FBF8FF;
    --Mauve-Pansy: #e1dce9;
    --English-Meadow: #048C4C;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    
}



body {
    display: flex;
    flex-flow: column;
}


.first-sec , .second-sec , .last-sec ,footer {
    padding: 3% 5%;
    height: max-content;

}

.first-sec ,.header , .last-sec , .article, .second-sec , .section , footer{
    
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: manrope;
    gap: 30px;
    position: relative;
    overflow: hidden;

}
.first-sec::after {
    content: "";
    position: absolute;
    bottom: 25%;
    top: 0%;
    width: 200%;
    background-color: var(--Roast);
    border-radius: 0 0 50% 50%;
    z-index: -1;
    -webkit-border-radius: 0 0 50% 50%;
    -moz-border-radius: 0 0 50% 50%;
    -ms-border-radius: 0 0 50% 50%;
    -o-border-radius: 0 0 50% 50%;
}




.nav {
    display: flex;
    justify-content: space-between;
}

.logo{
    width:15%;
}
.nav > a , span {
    width: max-content;
    color: #FBF8FF;
    text-decoration: none;
    border-bottom: var(--sea-gren) 3px solid;
}

.nav a:hover , span:hover {
    border-color: var(--English-Meadow);
    transition-timing-function: ease;
    transition-duration: 0.05s;



}
.header > p {
    font-family: Fraunces ;
    color: #FBF8FF;
    font-size: 44px;
}

.info {
    transition: box-shadow 1s;
    text-decoration: none;
    color: var(--Roast);
    background-color: var(--sea-gren);
    width: fit-content;
    padding: 2% 4%;
    font-weight: 900;
    font-family: manrope;
    transition: box-shadow 1s;


}
.info:hover {
    background-color: var(--English-Meadow);
    box-shadow:0 0 10px var(--English-Meadow);
    transition-duration: 0.05s;

}


.section {
    counter-increment: count ;
    color: var(--Roast);

}

.section::before{
    content: counter(count);
    border: rgb(163, 163, 163) solid 1px;
    border-radius: 50%;
    width: fit-content;
    padding: 2% 4%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.section > p , .article > p {
    font-family: manrope;
    font-size: 18px;
    font-weight: 100;
    line-height: 170%;
}
.section >h3, .article >h3 {
    font-family: Fraunces;
    font-size: 30px;
    font-weight: 600;
}
.article  {
    overflow:visible;
    bottom: 75px;
    padding: 4% 5%;
    background-color: var(--Roast);
    color: var(--ghost-white) !important;
}


.founder {
    width: 70%;
    position: relative;
    /* top: 80px; */

}


footer > *{
    width:60%;

}
.background-2 {
    background-color:var(--ghost-white);
    z-index: 0;
    border-radius: 0% 0% 500% 500%/0% 0% 35% 35%;
    padding-bottom: 5%;
}
.social-logo1, .social-logo2, .social-logo3 {
    width: 5%;
    margin: 0 5%;
}

.social-logo1, .social-logo2, .social-logo3 {
    opacity: .5;
}
.social-logo1:hover, .social-logo2:hover, .social-logo3:hover {
    opacity: 1;
}

@media (min-width:  765px) {
    .header > p{
        width: 600px;
        font-weight: 500;
        font-size: 500%;
    }
    .image {
        width: 55%;
    }
    .nav ::after {
        content: url('./assets/images/bg-pattern-1.svg');
        position: absolute;
        left: -20%;
        top: 20%;
        width: 50%;
    }    
    .nav ::before {
        content: url('./assets/images/bg-pattern-2.svg');
        position: absolute;
        opacity: .5;
        left: 70%;
        top: 40%;
        width: 55%;

    
    }
    .section {
        overflow:visible;
        margin-left: 20%;
        width: 75%;
        text-align: start;
    }
    .section::before{
        position: absolute;
        top: 40%;
        left: -15%;
    }  
    .last-sec{
        align-items: end;
    }
    .founder {
        width:40%;
        left: -60%;
        top: 90px;
        
    }
    .article {
        align-items: start;
        text-align: start;
        width: 75% ;
    }




    .article > a::before {
        content: url('./assets/images/bg-pattern-3.svg');
        position: absolute;
        opacity: .5;
        right: -5%;
        bottom: -24%;
        width: 45%;    
    }

    .section >h3, .article >h3 {
        font-family: Fraunces;
        font-size: 33px;
        font-weight: 500;
    }

    

}
@media (min-width:  1300px) {
    .logo {
        width:8%;
    }


    .second-sec {
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .section {
        text-align: center;
        margin-top: 100px;

    }

    .founder{
        top: 250px;
    }
    
    .section::before{
        position: absolute;
        top: -50%;
        left: 50%;
    }
    .last-sec {
        padding:0 10%;
    }
    .article {
        width:58%;
        left: -10%;
    }

    .social {
        margin: 0;
        width: 20%;
    }

}