/* font  */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

/* main colors */
:root {
    --black : rgba(11, 12, 23, 1);
    --purble: #D0D6F9;
    --gray:#616476;
    --whit-gray: #979797;
    --white:#ffffff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

body {
    height: 135vh;
}


.header {
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0 0% 5%;
}
.inner-side-bar{
    display: none;
}
.nav-bar {
    font-size: 22px;
    display: flex;
    height: 96px;
    justify-content:center;
    gap: 80px;
    align-items: center;
    width:60%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    background-position: left;

}
.links span {
    font-weight: 500;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.links {
    
    font-weight: 300;
    color: var(--white);
    font-family: "Barlow Condensed", sans-serif;
    cursor: pointer;

}
.logo::after{
    content:" ";
    display: block;
    height: .5px;
    width: 35%;
    position: absolute;
    top: 79px;
    left:10%;
    z-index: -5;
    background: var(--whit-gray);
}

.links a:hover::after {
    content:" ";
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 56px;
    left:0px;
    z-index: -5;
    background: var(--whit-gray);
}


.active a::after {
    content:" ";
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 56px;
    left:0px;
    z-index: -5;
    background:var(--gray);
}




@media (max-width:1050px) {

    .logo::after{
    display: none;
    }
    .nav-bar span {
        display: none;
    }
    .nav-bar {
        gap: 20px;
    }
    .content{
        height: 90%;
        flex-flow: column;
        justify-content: space-around;
    }
}



@media (max-width:590px){

    .nav-bar{
        display: none;
    }
    .header{
        padding: 5%;
    }
    
    .lines {
        cursor: pointer;
    }
    .line {
        width: 40px;
        border-bottom: 2px solid var(--white);
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        margin: 10px;
}
.inner-side-bar{
    z-index:5;
    display: none;
    gap: 40px;
    flex-flow: column;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(60px);
    position:fixed;
    top: 0px;
    right: 0;
    width: 60%;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    animation-name: sideBar;
    animation-duration: .6s;

}
.close{
    color: #ffffff;
    cursor: pointer;
    padding: 40px;
    font-weight: 100;
    font-size: 40px;
    align-self: flex-end;
    background-color: transparent;
    border-style: none;
    direction: none;
}
.lines{
    
    align-self: flex-end;
}
.links{
    font-weight: 200;
    font-size: 25PX;
    padding-left: 30px;
} 
.links a:hover::after{
    height: 2px;   
    top: 40px;

}
.active a::after {
    height: 2px;   
    top: 40px;
}

@keyframes sideBar {
    from {width: 0;}
    to {width: 70%;}
  }

}

