body {
    height: 100vh;
    background: url('./assets/crew/background-crew-desktop.jpg') no-repeat center center /cover;
    display: flex;
    flex-flow: column;
    justify-content: space-between;  
}
