*{
    font-family: "Barlow Condensed", sans-serif;

}
body {
    height: 100vh;
    background: url('./assets/crew/background-crew-desktop.jpg') no-repeat center center /cover;
    display: flex;
    flex-flow: column;
    /* justify-content: space-between;   */
}
 .container {
    height: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
}

.article {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-self: flex-end;
    padding: 100px 0;
}
.head-line {
    color: #ffffff;
    padding: 100px 0 0 180px;
    height: 34px;
    font-size: 35px;
    font-weight: 300;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.head-line span {
    padding-right: 15px;
    font-weight: 800;
    color: var(--gray);
}

.details {
    display: flex;
    flex-direction: column;
    height: 350px;
    gap: 30px;
    font-family: "Bellefair", serif;

}

.job {
    font-size: 32px;
    color: gray;
}
.name {
    font-family: "Bellefair", serif;
    font-size: 50px;
    width: 600px;
}

.bio {
    width: 600px;
    font-weight: 300;
    font-size: 18px;
    font-family: "Assistant", sans-serif;
    line-height: 35px;
    margin-bottom: 50px;
}

.switch-crew {
    display: flex;
    justify-content: space-between;
    width: 135px;
    height: 20px;
}

.crew {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: switch;
    animation-duration: .2s;

} 
.crew:hover ,.active-crew{
    width:20px;
    height: 20px;
    background-color: gray;

}

.crew-photo {
    align-self: flex-end;
}

@keyframes switch {
    from{
        width: 15px;
        height: 15px;
    }
    to {
        width: 20px;
        width: 20px;
    }
}

@media (max-width:1200px) {
    body {
        overflow: hidden;
        background: url('./assets/crew/background-crew-tablet.jpg') no-repeat center center /cover;
    }    
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .crew-photo{
        align-self: center;
    }
    .crew-photo img {
        height: 500px;
    }
    .head-line{
        padding: 0;
        padding-top: 5%;
        padding-left: 11%;
        font-size: 25px;
        align-self:flex-start ;
    }
    .crew-name {
        font-size: 40px;
    }
    .article{
        height: 50%;
        gap: 15px;
        justify-content: center;
        align-items: center;

        padding: 0;
    }.details{
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .bio {
        width: 100%;
        font-weight: 200;
        font-size:20px;
        margin: 0;

    }


}

@media (max-width: 550px) {
    body {
        background: url('./assets/crew/background-crew-mobile.jpg') no-repeat center center / cover;
        /* justify-content: space-evenly; */
        gap: 15px;
    }
    .container{

        height: 75%;        padding: 0;
        width: 100%;
        /* overflow: hidden; */
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;

    }
    .article{
        align-self: center;
        gap: 20px;
        flex-direction: column-reverse;
        width: 90%;
    }
    .crew-photo img {
        height:286px;
        width:300px;
    }
    .head-line {
        font-size: 20px;
        align-self: center;
        padding: 0;
    }

    .details{
        height:280px ;
        width: 100%;
        gap: 20px;

    }
    .job{
        font-size: 25px;
        font-weight: 200;
    }
    .crew-name {
        width: 300px;
        font-weight: 100;
        font-size: 25px;
    }

    .bio {
        line-height: 30px;
        width: 100%;
        font-weight: 100;
        font-size:22px;

    }
    .crew-photo::after {
        content:" ";
        display: block;
        height: 1px;
        width: 350px;
        position: relative;
        top: -3px;
        left: 0px;
        z-index: -5;
        background: gray;
    } 

}

