@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

/* main colors */
:root {
    --black : rgba(11, 12, 23, 1);
    --purble: #D0D6F9;
    --gray:#616476;
    --whit-gray: #979797;
    --white:#ffffff;

}

*{    
    color: var(--white);
    font-family: "Barlow Condensed", sans-serif;
    
}

body {
    height: 115vh;
    background: url('./assets/destination/background-destination-mobile.jpg') no-repeat center center /cover;
}

.moon-photo img {
    width: 150px;
    height: 150px;
}

.moon-name {
    font-size: 90px;
}

.moons{
    cursor: pointer;
    display: flex;
    gap: 15px;
    font-size: 22px;
    font-weight: 200;
}

.bio::after {
    content: "";
    position: relative;
    display: block;
    background-color: var(--gray);
    width: 100%;
    height: 1px;
    top: 25px;
    left: 0;
}
.dis-time {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    gap: 20px;
    flex-direction: column;
}

.distance ,.time {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.distance p,.time p{
    font-weight: 100;
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;

}
    .time-value ,.dis-value {
    font-family: "Bellefair", serif;
    font-size: 35px;
    font-weight: 100;
}
@media (min-width:750px) {
    body {
        background: url('./assets/destination/background-destination-tablet.jpg') no-repeat center center /cover;

    }
    .container {
        gap: 60px;
    }
    .article {
        gap: 40px;
        width: 75%;
    }
    .moons {
        gap: 35px;
        font-size: 30px;
    }
    .moon-name {
        font-size: 100px;
    }
    .moon-photo img {
        height: 300px;
        width: 300px;
    }
    .bio {
        margin-bottom: 50px;
    }
    .bio::after{
        top: 50px;
    }
    .distance ,.time {
        gap: 10px;
    }
    .dis-time {
        justify-content: space-between;
        gap: 150px;
        flex-direction: row;
    }
    .distance , .time {
        gap: 20px;
    }
    .distance p,.time p{
        font-weight: 100;
        font-size: 25px;
    
    }
    .time-value ,.dis-value {
        font-size: 40px;
    }
    
}

@media (min-width:1050px) {
    body {
        height: 100vh;
        gap: 20px;
        background: url('./assets/destination/background-destination-desktop.jpg') no-repeat center center /cover;
    }
    .container {
        height: 80%;
        flex-direction: row-reverse;
        justify-content:center ;
        gap: 200px;
    }
    .article {
        gap: 10px;
        align-items: start;
        width: 30%;
    }
    .moon-photo img{
        width: 410px;
        height: 410px;
    }
    .bio {
        margin-bottom: 20px;
    }
    .moons ,.bio{
        text-align: left;
        gap: 20px;
        font-size: 20px;
    }
    .moon-name {
        font-size: 80px;
    }
    .distance p,.time p{
        text-align: left;
        font-weight: 100;
        font-size: 15px; 
    }
    .time-value ,.dis-value {
        text-align: left;
        font-size: 30px;
    }
    .dis-time{
        align-items: start;
        gap: 50px;
    }
    .bio::after {
        top: 30px;
    }
}





