/* font  */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Cairo:wght@200..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

/* main colors */
:root {
    --black : rgba(11, 12, 23, 1);
    --purble: #D0D6F9;
    --gray:#616476;
    --whit-gray: #979797;
    --white:#ffffff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

body {
    height: 100vh;
    background: url('./assets/home/background-home-desktop.jpg') no-repeat center center /cover;
    display: flex;
    flex-flow: column;
    /* gap: 100px; */
    justify-content: space-between;  
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;    
}

.header {
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0 0% 5%;
}
.inner-side-bar{
    display: none;
}
.nav-bar {
    font-size: 22px;
    display: flex;
    height: 96px;
    justify-content:center;
    gap: 80px;
    align-items: center;
    width:60%;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: left;

}
.nav-bar span {
    font-weight: 500;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.links {
    
    font-weight: 300;
    color: var(--white);
    font-family: "Barlow Condensed", sans-serif;
    cursor: pointer;

}
.logo::after{
    content:" ";
    display: block;
    height: .5px;
    width: 35%;
    position: absolute;
    top: 85px;
    left:10%;
    z-index: -5;
    background: var(--whit-gray);
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;

}

.article{
    width: 450px;
    height: 382px;
    color: var(--white);
    font-weight: 100;
    word-spacing: 4.75px;
}
.article span {
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    line-height: 25px;
}

.article p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
}

.article div {
    font-size: 20px;
    margin: 15px 0;
    font-family: "Bellefair", serif;
    font-size: 150px;
}


.aside {
    font-weight: 400;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    height: 274px;
    width: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white) ;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;

}

.aside:hover{
    box-shadow: 0px 0px 0px 50px  rgba(255, 255, 255, 0.1);
}

.links a:hover::after{
    content:" ";
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 56px;
    left:0px;
    z-index: -5;
    background: var(--whit-gray);
}



@media (max-width:1050px) {
    body{
        background: url('./assets/home/background-home-tablet.jpg') no-repeat center center /cover;
        gap: 0px;
        /* justify-content: sp; */
    }
    .logo::after{
    display: none;
    }
    .nav-bar span {
        display: none;
    }
    .nav-bar {
        gap: 20px;
    }
    .content{
        height: 90%;
        flex-flow: column;
        justify-content: space-around;
    }
    .article{
        width: 450px;
        height: 334px;
        text-align: center;
    }

}


