body {
    height: 100vh;
    background: url('./assets/home/background-home-desktop.jpg') no-repeat center center /cover;
    display: flex;
    flex-flow: column;
    justify-content: space-between;  
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;

}

.article{
    width: 450px;
    height: 382px;
    color: var(--white);
    font-weight: 100;
    word-spacing: 4.75px;
}
.article span {
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    line-height: 25px;
}

.article p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
}

.article div {
    font-size: 20px;
    margin: 15px 0;
    font-family: "Bellefair", serif;
    font-size: 150px;
}


.aside {
    color: #ffffff;
    font-weight: 200;
    font-family: "Bellefair", serif;
    font-size: 40px;
    height: 274px;
    width: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(20px);
    text-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;

}

.aside:hover{
    box-shadow: 0px 0px 0px 50px  rgba(255, 255, 255, 0.1);
}



@media (max-width:1050px) {
    body{
        background: url('./assets/home/background-home-tablet.jpg') no-repeat center center /cover;
        gap: 0px;
        /* justify-content: sp; */
    }
    .content{
        height: 90%;
        flex-flow: column;
        justify-content: space-around;
    }
    .article{
        width: 450px;
        height: 334px;
        text-align: center;
    }

}

@media (max-width:590px){
    body {
        height: 100vh;
        background: url('./assets/home/background-home-mobile.jpg') no-repeat center center/cover;
    }
    .content{
        padding-top: 0;
    }
    .article{
        width: 340px;
        height: 276px;
    }
    .aside{
        width: 150px;
        height: 150px;
    }

    
    .article p {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 25px;
    }
    
    .article div {
        font-size: 20px;
        margin: 15px 0;
        font-family: "Bellefair", serif;
        font-size: 90px;
    }
    .aside {
        font-weight:200;
        font-size: 24px;

    }


}

