/* font Style */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* color */
:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --active-input-border :Linear gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-errors:  hsl(0, 100%, 66%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Space Grotesk", sans-serif;
    font-weight: 500;
    color: var(--Very-dark-violet);
    font-size: 18px;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    gap: 120px;    
}

.img {
    width: 100%;
    height: 35%;
    background:url("./images/bg-main-mobile.png") no-repeat center center/cover;
}

form {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 15px;
}

form div {
    width: 100%;
    height: 100px;
}
#card-num ,#card-name {
    width: 100%;
    height: 50px;
}
 input {
    height: 50px;
    border-radius: 10px;
    padding: 20px;
    border:solid  2px var(--Light-grayish-violet);
    
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
} 
.date-cvc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date  input {
    width: 45%;
}
.cvc , .date{
    width: 100%;
}

.cvc input {
    width: 100%;
}
label{
    display: block;
    margin-bottom: 10px;
}
#sub-btn {
    background-color: var(--Very-dark-violet);
    color: #ffff;
    border: none;
    height: 60px;
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

input::placeholder{
    color: var(--Light-grayish-violet);
}

#sub-btn:hover {
    box-shadow: 0 0 5px hsl(278, 68%, 11%);
    background-color: hsl(278, 59%, 25%);
}
.img-cvc {
    z-index: 2;
    background: url('./images/bg-card-front.png') no-repeat center center/cover;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    top: 20.3%;
    left: 5%;
    height: 22%;
    width: 78%;
    color: #ffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-num-img{
    position: absolute;
    background: url('./images/bg-card-back.png') no-repeat center center/cover;
    top: 8.8%;
    left: 20%;
    height: 20%;
    width: 75%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.img-cvc .num-value{
    color: #ffffffbb;
    margin: 40px 0 5px 0;
    text-align: center;
    font-size: 22.5px;
}
.card-name-date {
    display: flex;
    justify-content: space-between;
}
.card-name-date > *{
    color: #ffffffbb;
    font-size: 15px;
}

.card-num-img >*{
    color: #ffffffbb;

    position: relative;
    left: 80%;
    top: 43%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


@media (min-width:600px) {
    body{
        flex-flow: row;
        justify-content: space-between;  
  }
    .img{
        width: 30%;
        height: 100%;
    }
    form {
        margin-right: 3%;
        width: 480px;
        gap: 30px;


    }
    .img-cvc {
        width: 30%;
        height: 20%;
        top: 26%;
        left: 7%;
    }
    .card-num-img{
        width: 30%;
        height: 20%;
        top: 48%;
        left: 10%;

    }  
    .img-cvc .num-value{
        margin: 25% 0 3% 0;
        font-size: 16px;
    }


}
@media (min-width:1200px) {

    form {
        margin-right: 5%;

    }
    .img-cvc {
        width: 450px;
        height: 250px;
        top: 26%;
        left: 14%;
    }
    .card-num-img{
        width: 450px;
        height: 250px;
        top: 57%;
        left: 20%;

    }
    .img-cvc .num-value{
        margin: 18% 0 5% 0;
        font-size: 35px;
    }

}


